@media only screen and (min-width: 1900px) {
    .home-about p {
        font-size: 2.7rem;
    }
    
    .domestic-abuse .card-link h3 {
        font-size: 1.75rem;
        margin: 0 1rem;
    }

    .domestic-abuse h2 {
        font-size: 3.5rem;
    }
    .who-help img {
        width: 90%;
    }
    .who-help .circle-text-svg {
        width: 28rem;
    }
    .who-help .container {
        margin-bottom: -5rem;
    }
    .our-stories .img-container {
        height: 50rem;
    }
    .our-stories .circle-text-svg {
        width: 45rem;
        padding: 2rem 0rem 0 9rem;
    }
}