/* Variables */

:root {
    --black: #231f20;
    --white: #ffffff;
    --pink: #aa55a1;
    --pinkBright: #ec008c;
    --purple: #594579;
    --blue: #0095c5;
    --orange: #f4aa00;
    --yellow: #fff200;
    --lightGray: #eeeeee;
    --green: #00b274;
    --yellowLight: #fff793;
}