/* Variables */

:root {
    --black: #231f20;
    --white: #ffffff;
    --pink: #aa55a1;
    --purple: #594579;
    --blue: #0095c5;
    --orange: #f4aa00;
    --lightGray: #eeeeee;
    --green: #00b274;
}