/* Default styles - small devices (Mobile, screen width < 768px) */

/*--------------------------------------------------------------
# Typography
--------------------------------------------------------------*/
body {
    font-family: "Barlow Condensed", sans-serif;
    font-size: 1.125rem;
    font-weight: 400;
}

.poppins {
    font-family: "Poppins", sans-serif;
}

/*--------------------------------------------------------------
# Top Bar
--------------------------------------------------------------*/
.top-bar .col-12 {
    padding: 0;
}
.top-bar .bar {
    display: flex;
    justify-content: center;
    padding: .75rem;
}
.top-bar .bar a, .top-bar .bar p {
    color: #ffffff;
    font-size: 1.25rem;
    margin-bottom: 0;
    text-decoration: none;
}
.top-bar .col-12:nth-of-type(1) .bar {
    background-color: var(--pink);
}
.top-bar .col-12:nth-of-type(2) .bar {
    background-color: var(--purple);
}
.top-bar .col-12:nth-of-type(3) .bar {
    background-color: var(--blue);
}
/*--------------------------------------------------------------
# Main Navigation
--------------------------------------------------------------*/
.navbar-toggler {
    border: none;
}

#main-nav .active {
    background-color: var(--green);
}

#main-nav a {
    /* text-transform: uppercase; */
    color: var(--black);
    font-weight: 500;
    transition: all .3s;
}

#main-nav .btn {
    font-size: 18px;
}

#main-nav .active a {
     color: #ffffff;
}

#main-nav .btn {
    font-size: 18px;
}

.nav-outer .container {
    padding: 0;
}


.navbar ul {
    padding: 0;
}

.navbar ul li, .site-logo-top, .navbar-toggler, .mobile-search-btn {
    padding-left: calc(var(--bs-gutter-x) * .5);
    padding-right: calc(var(--bs-gutter-x) * .5);
}

.navbar-nav .nav-item, .navbar ul li:first-child:not(.dropdown ul li) {
    padding: .9rem calc(var(--bs-gutter-x) * .5);
    border-top: thin solid var(--lightGray);
}

.navbar a {
    padding: 0;
}
.nav-contact-contain {
    padding: 0 calc(var(--bs-gutter-x) * .5);
}
#main-nav .navbar-nav .nav-item:last-of-type {
    border-bottom: thin solid var(--lightGray);
}

/* Collapse Button Mobile */
.animated-icon {
    cursor: pointer;
    height: 20px;
    margin: 0px;
    position: relative;
    width: 30px;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
}

    .animated-icon span {
        border-radius: 9px;
        display: block;
        height: 3px;
        position: absolute;
        left: 0;
        opacity: 1;
        width: 100%;
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
        -webkit-transition: .25s ease-in-out;
        -moz-transition: .25s ease-in-out;
        -o-transition: .25s ease-in-out;
        transition: .25s ease-in-out;
    }

    .animated-icon span {
        background: var(--black);
    }

        .animated-icon span:nth-child(1) {
            top: 0px;
            -webkit-transform-origin: left center;
            -moz-transform-origin: left center;
            -o-transform-origin: left center;
            transform-origin: left center;
        }

        .animated-icon span:nth-child(2) {
            top: 10px;
            -webkit-transform-origin: left center;
            -moz-transform-origin: left center;
            -o-transform-origin: left center;
            transform-origin: left center;
        }

        .animated-icon span:nth-child(3) {
            top: 20px;
            -webkit-transform-origin: left center;
            -moz-transform-origin: left center;
            -o-transform-origin: left center;
            transform-origin: left center;
        }

    .animated-icon.open span:nth-child(1) {
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        transform: rotate(45deg);
        top: 0px;
        left: 8px;
    }

    .animated-icon.open span:nth-child(2) {
        width: 0%;
        opacity: 0;
    }

    .animated-icon.open span:nth-child(3) {
        -webkit-transform: rotate(-45deg);
        -moz-transform: rotate(-45deg);
        -o-transform: rotate(-45deg);
        transform: rotate(-45deg);
        top: 21px;
        left: 8px;
    }

    #main-nav .logo-top {
        padding-left: calc(var(--bs-gutter-x)* .5);
        width: 11rem;
    }

/* Main nav dropdowns  */
#main-nav .nav-item:hover a:not(#main-nav .dropdown a){
    /* color: var(--yellow); */
}
#main-nav .nav-item:active a:not(#main-nav .dropdown a){
    /* color: var(--red); */
}
#main-nav .dropdown-menu {
    margin-top: .75rem;
}
.navbar-nav .nav-item, .navbar ul li:first-child:not #main-nav .dropdown ul li {
    padding: 1rem calc(var(--bs-gutter-x) * .5);
}

#main-nav .dropdown ul {
    /* background-color: var(--lightGray); */
    border: none;
    transition: all .3s;
}

#main-nav .dropdown a:active:not(#main-nav .dropdown ul li a:active) {
    color: #ffffff;
}
#main-nav .dropdown a:hover:not(#main-nav .dropdown ul li a:hover) {
    color: var(--lightGray);
}

#main-nav .dropdown-item:active {
    color: var(--green);
    background-color: var(--white);
}
#main-nav .dropdown-item:hover {
    color: var(--green);
    background-color: var(--white);
}

.dropdown-toggle[aria-expanded="true"]::after {
    transform: rotate(180deg);
    /* transform-origin: 50% 50%; */
    vertical-align: -0.1em;
    margin-top: .2em;
}
#main-nav .dropdown-item {
    padding-top: .35rem;
    padding-left: 1rem;
}
#main-nav .dropdown-item:last-of-type {
    padding-bottom: .35rem;
}
#main-nav .nav-item.active.dropdown {
    background-color: var(--green);
}
#main-nav .nav-item.active.dropdown a {
    color: var(--white)!important;
}
#main-nav .nav-item.active ul li .dropdown-item {
    background-color: var(--green)!important;
    color: var(--white)!important;
}
#main-nav .nav-item.active ul {
    background-color: var(--green)!important;
}

#main-nav {
z-index: 9;
}

#main-nav .nav-item.active ul li a.dropdown-item.active {
    color: #ffffff!important;
}
#main-nav a#navbarDropdown:hover {
    color: var(--white)!important;
}

/*--------------------------------------------------------------
# SVGs
--------------------------------------------------------------*/

svg .text-container p {
    color: var(--white);
    font-weight: 600;
    margin-bottom: 0;
}
svg .text-container div p span {
    color: var(--yellowLight);
}

svg .text-container div p span {
    margin-top: -1rem;
}

/*--------------------------------------------------------------
# Hero
--------------------------------------------------------------*/
.hero {
    height: fit-content;
}
.hero .swiper-slide {
    position: relative;
}
.hero img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 2%;
    position: absolute;
    top: 0;
    z-index: -1;
}
.hero .circle-text-svg {
    padding: 6.5rem 3rem;
}

/*--------------------------------------------------------------
# Home About
--------------------------------------------------------------*/
.home-about {
    background-color: var(--blue);
}
.home-about p {
    color: var(--white);
    font-size: 2rem;
    font-weight: 300;
    margin-bottom: 0;
}

/*--------------------------------------------------------------
# Domestic Abuse
--------------------------------------------------------------*/
.domestic-abuse {
    background-color: var(--purple);
}
.domestic-abuse h2 {
    color: var(--white);
    font-size: 2.5rem;
    font-weight: 600;
}
.domestic-abuse h3 {
    color: var(--orange);
}
.domestic-abuse p {
    color: var(--blue);
    padding-top: .5rem;
    text-transform: uppercase;
}
.domestic-abuse p::before {
    content: "\00BB";
    margin-right: .25rem;
    display: inline-block;
    transition: all .3s;
    /* display: inline-block;
    width: 100%;
    height: 1px;
    background-color: var(--blue);
    margin: 1rem 0; */
}

.domestic-abuse .card-link {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 1rem 0;
}
.domestic-abuse a {
    text-decoration: none;
}
.domestic-abuse .card-link h3, .domestic-abuse .card-link p {
    transition: all .3s;
}

.domestic-abuse .card-link:hover h3, .domestic-abuse .card-link:hover p {
    color: var(--white);
}

.domestic-abuse .card-link:hover p::before {
    transform: translateX(.125rem);
    color: var(--white);
}