/* Large devices (desktops, 992px and up) */

@media (min-width: 992px) {
    .top-bar .bar a, .top-bar .bar p {
        font-size: 1.25rem;
    }
    .who-help .circle-text-svg {
        width: 20rem;
    }
    .how-help ul li a {
        display: flex;
        justify-content: space-between;
        align-items: end;
    }
    .our-stories .circle-text-svg {
        width: 29rem;
        padding: 2rem 5rem 13rem 2rem;
    }
    
    .our-stories .quote {
        width: 100%;
    }

    .cta .circle-text-svg {
        width: 29rem;
        padding: 2rem 5rem 13rem 2rem;
    }
    .cta .container-fluid a:nth-of-type(2) .circle-text-svg {
        padding: 0rem 3rem 10rem 4rem;
    }
    .cta .container-fluid a:nth-of-type(1) .circle-text-svg {
        width: 22rem;
        padding: 20rem 2rem 0rem 3rem;
    }

}