/* Extra large devices (large desktops, 1200px and up) */

@media only screen and (min-width: 1200px) {
    .top-bar .bar a, .top-bar .bar p {
        font-size: 1.5rem;
    }

    .logo-top {
        width: 200px;
    }
    #main-nav .active a {
        color: var(--green);
   }
   #main-nav .active {
    background-color: unset;
}

.dropdown:hover .dropdown-menu {
    display: block;
}
#main-nav .dropdown-toggle {
    pointer-events: none;
}
.dropdown-menu {
    margin-top: 0;
    transition: all 0.3s ease;
}
#main-nav .dropdown-menu {
    margin-top: 0;
}
#main-nav .nav-item.dropdown:hover a:not(#main-nav .nav-item.dropdown:hover ul li a) {
    color: var(--black);
}
#main-nav .nav-item.dropdown ul li a {
    color: #ffffff;
}
#main-nav .nav-item:hover a{
    opacity: .98;
}
#main-nav .nav-item.dropdown ul li a:hover {
    color: var(--yellow);
    background-color: transparent!important;
}
#main-nav .dropdown.active {
    color: var(--green)!important;
}
#main-nav .dropdown.active ul li a:hover {
    color: var(--black)!important;
    background-color: transparent!important;
}
#main-nav .dropdown ul {
    background-color: var(--green);
    padding: .5rem .125rem;
    border-radius: 0;
}
#main-nav .dropdown-item {
    padding: .2rem!important;
}
/* #main-nav .dropdown-toggle::after {
    vertical-align: 0;
} */
#main-nav .dropdown:hover .dropdown-toggle::after {
    transform: rotate(-180deg);
     transform-origin: 50% 50%;
    /* vertical-align: -0.1em;
    margin-top: .1em;  */

}
#main-nav .nav-item.active.dropdown a {
    color: var(--green)!important;
}

.navbar-nav .nav-item, .navbar ul li:first-child:not(.dropdown ul li), #main-nav .navbar-nav .nav-item:last-of-type {
    border: none;
}

#main-nav .nav-item.active.dropdown {
    background-color: unset;
}






.dropdown:hover .dropdown-menu {
    display: block;
}

a.dropdown-item.active {
    color: var(--black)!important;
}
.dropdown .dropdown-menu li:hover a {
    opacity: .67!important;
    color: #ffffff!important;
}
#main-nav .nav-item:hover a:not(#main-nav .dropdown a) {
    color: var(--pink);
}
    
}
        